body {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
    color: #111;
    background: #eee;
    padding: 0;
    margin: 0;
}

.container {
    min-width: 360px;
    max-width: 540px;
    padding: 10px;
    margin: 0 auto;
}

header {
    position: relative;
    overflow: auto;
}

header::after {
    content: "";
    clear: both;
    display: table;
}

header h1 {
    margin: 5px 0; 
    font-size: 20px;
    float: left;
}

header button,
header .button {
    float: right;
    margin: 0; 
}

footer {
    border-top: 1px solid #aaa;
}

#svg-holder {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

button, .button {
    display: inline-block;
    color: #eee;
    background: #111;
    padding: 10px 15px;
    display: inline-block;
    font-size: 12px;
    border-width: 0;
    border-radius: 30px;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    text-decoration: none;
}

button:hover, .button:hover {
    background: #f60;
}

#mint {
    width: 100%;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 0;
}

img {
    width: 100%;
}
/*
#svg-preview {
    opacity: 0;
    animation: fadeOpacity .5s forwards .5s;
}
@keyframes fadeOpacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}*/

p {
    margin: 10px 0;
}

#fontWeight, #fgColor, #bgColor {
    width: 4em;
}

h2 {
    font-size: 18px;
}

li, #content {
    margin-bottom: 10px;
}
